// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary   : #0066FF; // Vibrant Indigo/Blue
$secondary : #5856D6;
$accent    : #FF2D55;

$dark      : #1C1C1E;
$dark-page : #000000;

$positive  : #34C759;
$negative  : #FF3B30;
$info      : #007AFF;
$warning   : #FF9500;

$body-font-family: 'Inter', sans-serif;
$typography-font-family: 'Outfit', sans-serif;
